@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
body {
  overflow: hidden;
  font-size: 16px;
  font-family: 'Do Hyeon', sans-serif;
}

video {
  position: absolute;
  left: 10%;
  top: 0px;
  height: 450px;
  z-index: -99;
}

.background {
  position: absolute;
  background: url(../img/background.png) no-repeat;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

main {
  position: absolute;
  height: 100vh;
  width: 100vw;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 800px;
          perspective: 800px;
  z-index: 10000;
}

.contentWrap {
  position: absolute;
  top: 51%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 800px;
          perspective: 800px;
}

.contentWrap .front {
  position: relative;
  width: 660px;
  height: 700px;
  -webkit-transform: rotateX(3deg);
          transform: rotateX(3deg);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 800px;
          perspective: 800px;
  border-radius: 10px 10px 0 0;
}

.contentWrap .front .mountine {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
  background: url(../img/mountine.png) center center/450px no-repeat;
  -webkit-transform: translate3d(30px, 50px, 45px);
          transform: translate3d(30px, 50px, 45px);
}

.contentWrap .front .sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
  background: url(../img/sky.png) center center/450px no-repeat;
  -webkit-transform: translate3d(30px, 50px, 10px);
          transform: translate3d(30px, 50px, 10px);
}

.contentWrap .front .moon {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
  background: url(../img/Moon.png) center center/450px no-repeat;
  -webkit-transform: translate3d(30px, 50px, 20px);
          transform: translate3d(30px, 50px, 20px);
}

.contentWrap .front .cloud {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
  background: url(../img/cloud.png) center center/450px no-repeat;
  -webkit-transform: translate3d(30px, 50px, 30px);
          transform: translate3d(30px, 50px, 30px);
}

.contentWrap .front .houses {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
  background: url(../img/bottom.png) center center/450px no-repeat;
  -webkit-transform: translate3d(30px, 50px, 25px);
          transform: translate3d(30px, 50px, 25px);
}

.contentWrap .front .star1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
  background: url(../img/star.png) center center/450px no-repeat;
  -webkit-transform: translate3d(30px, 50px, 18px);
          transform: translate3d(30px, 50px, 18px);
}

.contentWrap .front .star2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
  background: url(../img/star2.png) center center/450px no-repeat;
  -webkit-transform: translate3d(30px, 50px, 32px);
          transform: translate3d(30px, 50px, 32px);
}

.contentWrap .front .star3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
  background: url(../img/star3.png) center center/450px no-repeat;
  -webkit-transform: translate3d(30px, 50px, 42px);
          transform: translate3d(30px, 50px, 42px);
}

.contentWrap .front .star4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
  background: url(../img/star4.png) center center/450px no-repeat;
  -webkit-transform: translate3d(30px, 50px, 25px);
          transform: translate3d(30px, 50px, 25px);
}

.contentWrap .front .star5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
  background: url(../img/star5.png) center center/450px no-repeat;
  -webkit-transform: translate3d(30px, 50px, 37px);
          transform: translate3d(30px, 50px, 37px);
}

.contentWrap .front .star6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
  background: url(../img/star6.png) center center/450px no-repeat;
  -webkit-transform: translate3d(30px, 50px, 50px);
          transform: translate3d(30px, 50px, 50px);
}

.contentWrap .front .star7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
  background: url(../img/star7.png) center center/450px no-repeat;
  -webkit-transform: translate3d(30px, 50px, 29px);
          transform: translate3d(30px, 50px, 29px);
}
/*# sourceMappingURL=style.css.map */